
.app{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.grid{
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  column-gap: 10px;
  row-gap: 10px;
  background-color: lightgray;

}

.Square{
  background-color: white;
  width: 110px;
  height: 110px;
  display: flex;
  align-items: center;
  justify-content: center;
 
}

.circle{
  /* background-color: blue; */
  width: 100px;
  color: #FF5C52;
}

svg{
  color: #EB0D83;
  width: 100px;
  height: 100px;
}